dlog
HVite_log
.DS_Store
.vagrant
provision/*.tar.gz
provision/htk
Models/hmm*
Mappings
Labels/train.phones.mlf
Labels/aligned*
Labels/triphones.mlf
Dictionary/phones.*
Dictionary/triphones.list
Data/Lab
